body {
    background-color: #f8f9fa;
}

#app {
    max-width: 900px;
}

.section, .subsection {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    margin-top: 10px;
}

.btn-delete {
    font-size: 1.5rem;
    opacity: 0.5; 
    position: relative;
    top: -4px; 
    padding: 0;
}

.btn-delete:hover {
    opacity: 1;
    text-decoration: none;
}
